body{
    margin: 0;
    border: 0;
    background:linear-gradient(180deg, black, hsl(0, 100%, 20%));
    color: brown;
    font-size: 1rem;
}
.cointainer{
    margin: auto;
    display: flex;
    align-items: center;

}
.pageview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;

}
.fonts{
    width: 200px;
    color: blue;
}
.button a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-flex;
    text-align: center;
}
.button{
    display: flex;
    margin-left: auto;
    gap: 25px;
}

.button a:hover{
    color: hsl(0, 59%, 41%);
    border-bottom: 2px solid hsl(0, 59%, 41%);
}
.font{
    border-bottom: 2px solid brown;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}
.hero-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgb(112, 96, 96);

}
.hero-text{
    max-width: 500px;
}
.words{
    color: white;
}
.fix{
    color: white;
    font-size: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.fix2{
    color: white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fix3{
    display: inline-block;
    border: 2px  solid brown;
    padding: 8px 16px;
    border-radius: 22px;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 12px;
    cursor: pointer;
}
.words{ 
    margin: 15px 0;
    line-height: 1.6;
    margin-bottom: 15px;
}
.social{
    display: flex;
    gap: 12px;
    cursor: pointer;
}
.social i{
    border: 2px solid brown;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
}
    
